    <div class="navbar-header">
      <strong><%= link_to "Thermotrack!", root_path, class: 'navbar-brand', title: "Click to go to home page", style: "font-size: 40px;" %></strong>
    </div>

    <%if user_signed_in? %>
    
    <ul class="nav navbar-nav">
        <li class="dropdown navbar-btn">
        <%= link_to '#', class: 'btn btn-small navbar-btn dropdown-toggle', 'data-toggle' => 'dropdown', title: "These are names available to be added to a thermometer's notifications list.", style: "font-weight: bold;" do %>
           Notifications List <span class="caret"></span>
        <%end%>
        <ul class="dropdown-menu" role="menu">
          <% EmailList.all.each do |email| %>
            <% if email.creator_id == current_user.id %>
            <li class="text-center">
              <strong><%= link_to email.name, email_list_path(email)%></strong> 
            </li>
            <% end %>
          <% end %>
          <li class="divider"></li>
          <li>
          <!-- Here we're using link_to with a block code -->
            <%= link_to(new_email_list_path) do %>
            <i class="icon-plus"></i>
            <strong>Add New Member</strong>
          </li>
        </ul>
        <% end %>
      </ul>
      
      <ul class="nav navbar-nav navbar-right" >

        <li>
          <%= link_to "Add New House", new_house_path, title: "Click to add new House",id: "add", name: "Add New House", style: "font-weight: bold;",remote: true%>
        </li>

        <li class="dropdown pull-right">
            <%= link_to '#', class: 'btn btn-small navbar-btn dropdown-toggle', 'data-toggle' => 'dropdown', style: "font-weight: bold;" do %>
              <%= image_tag(current_user.image ? current_user.image : current_user.gravatar_url, height: '50', width: '50') %> Signed in as <%= current_user.name  %>
              <span class="caret"></span>
            <% end %>
            <ul class="dropdown-menu" role="menu">
              <li>
                <%= link_to edit_user_registration_path(current_user) do %>
                  <i class="icon-pencil"></i>
                  <strong>Edit Profile</strong>
                <% end %>
              </li>
              <li>
                <%= link_to(destroy_user_session_path, method: 'delete') do %>
                  <i class="icon-circle-arrow-left"></i>
                  <strong>Logout</strong>
                <% end %>
              </li>
            </ul>
        </li>
      <%end%>
